<p id="notice"><%= notice %></p>
<div class="Beginner">

<p>
  <strong>Title:</strong>
  <%= @beginner.title %>
</p>

<p>
  <strong>Element:</strong>
  <%= @beginner.element %>
</p>

<p>
  <strong>Author:</strong>
  <%= @beginner.author %>
</p>

<%= link_to 'Edit', edit_beginner_path(@beginner) %> |
<%= link_to 'Back', beginners_path %>
</div>
</br>
<div class="comments">
  <table>
    <thead>
      <tr>
        <th>Text</th>
        <th>Author</th>
      </tr>
    </thead>


    <tbody>
      <% @beginner.comments.each do |comment| %>
        <tr>
          <td><%= comment.text %></td>
          <td><%= comment.author %></td>
        <tr>
      <% end %>
    </tbody>
  </table>
</div>
</br>
<div class="new_comments">
  <%= render 'comments/form', comment: @new_comment %>

</div>
